*.ncb
*.suo
*.vcproj.*
*.vcxproj.*
*.vcxproj.user
.vs
/Debug
/Release
/build
/config.*
/makeobj/makeobj
/makeobj/makeobj.exe
*sim
/sim.exe
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
*.zip
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
/revision.h
/simutrans/*.exe
/simutrans/*.manifest
/simutrans/*.pdb
