*.ncb
*.suo
*.vcproj.*
*.vcxproj.*
*.vcxproj.user
*.vcxitems.user
.vs
/Debug
/Release
/build
/config.*
/makeobj/makeobj
/makeobj/makeobj.exe
*sim
/sim.exe
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
*.zip
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
/*.exe
/*.manifest
/*.pdb
/*.ipdb
/*.iobj
Simutrans_SDL2.exp
Simutrans_SDL2.lib
/libs/lpng1637/projects
/libs/miniupnpc-2.2.1
/libs/miniupnpc-2.2.2/Release
/libs/miniupnpc-2.1
/libs/miniupnpc-master
/packages
/libs/SDL2-2.0.14/VisualC/SDL/Win32/Release
/libs/bzip2-1.0.6/Release/libbz2.tlog
/libs/bzip2-1.0.6/Release
/libs/SDL2-2.0.14/VisualC/Win32/Release
/libs/freetype-2.10.1/objs/Win32/Release Static
/status.txt
/libs/zstd-1.5.0
