<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C++ Core Check Type Rules" Description="These rules enforce the Type profile of the C++ Core Guidelines (http://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#prosafety-type-safety-profile)." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="CppCoreCheckTypeRules_Name" />
    <Description Resource="CppCoreCheckTypeRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26437" Action="Warning" />
    <Rule Id="C26457" Action="Warning" />
    <Rule Id="C26465" Action="Warning" />
    <Rule Id="C26466" Action="Warning" />
    <Rule Id="C26471" Action="Warning" />
    <Rule Id="C26472" Action="Warning" />
    <Rule Id="C26473" Action="Warning" />
    <Rule Id="C26474" Action="Warning" />
    <Rule Id="C26475" Action="Warning" />
    <Rule Id="C26476" Action="Warning" />
    <Rule Id="C26477" Action="Warning" />
    <Rule Id="C26478" Action="Warning" />
    <Rule Id="C26479" Action="Warning" />
    <Rule Id="C26490" Action="Warning" />
    <Rule Id="C26491" Action="Warning" />
    <Rule Id="C26492" Action="Warning" />
    <Rule Id="C26493" Action="Warning" />
    <Rule Id="C26494" Action="Warning" />
    <Rule Id="C26495" Action="Warning" />
  </Rules>
</RuleSet>