<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C++ Core Check Experimental Rules" Description="These rules collect some experimental checks. These checks are expected to be moved to other rulesets or removed completely eventually." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="CppCoreCheckExperimentalRules_Name" />
    <Description Resource="CppCoreCheckExperimentalRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26458" Action="Warning" />
    <Rule Id="C26800" Action="Warning" />
  </Rules>
</RuleSet>