<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C++ Core Check Concurrency Rules" Description="These rules enforce checks related to concurrency from the C++ Core Guidelines (https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#cpcon-concurrency)." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="CppCoreCheckConcurrencyRules_Name" />
    <Description Resource="CppCoreCheckConcurrencyRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26441" Action="Warning" />
    <Rule Id="C26810" Action="Warning" />
    <Rule Id="C26811" Action="Warning" />
  </Rules>
</RuleSet>