<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C++ Core Check Enum Rules" Description="These rules enforce enum-related checks from the C++ Core Guidelines (http://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#S-enum)." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="CppCoreCheckEnumRules_Name" />
    <Description Resource="CppCoreCheckEnumRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26812" Action="Warning" />
  </Rules>
</RuleSet>