name: Nightly build Linux x64

on:
  push:
    tags:
      - 'Nightly'

jobs:
  makeobj_linux-x64-nightly:
    name: makeobj
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: install_dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -ym install autoconf
          sudo apt-get -ym install libpng-dev
          sudo apt-get -ym install libbz2-dev

      - name: setup
        run: |
          autoconf
          ./configure
          echo "STATIC = 1" >>config.default
          cat config.default >>/dev/stderr

      - name: make makeobj
        run: |
          cd makeobj
          make

      - name: Rename result
        run: |
          cd makeobj
          zip -r -9 makeobj_linux-x64-nightly.zip makeobj

      - name: Update binaries of Nightly Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: makeobj/makeobj_linux-x64-nightly.zip
          asset_name: makeobj_linux-x64-nightly.zip
          tag: Nightly
          overwrite: true

  simulinux-x64-nightly:
    name: simutrans SDL2
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: install_dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -ym install libsdl2-dev
          sudo apt-get -ym install libfreetype6-dev
          sudo apt-get -ym install libbz2-dev
          sudo apt-get -ym install libfluidsynth-dev
          sudo apt-get -ym install autoconf

      - name: setup
        run: |
          cd libs/zstd-1.4.4/lib
          make
          cd ../../../
          autoconf
          ./configure
          echo "CFLAGS += -std=c++11 " >>config.default
          echo "STATIC := 1" >>config.default
          cat config.default >>/dev/stderr

      - name: make
        run: make

      - name: distribute
        run: sh ./distribute.sh

      - name: Rename result
        run:  mv ./simu*.zip ./simulinux-x64-nightly.zip

      - name: Update binaries of Nightly Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: simulinux-x64-nightly.zip
          asset_name: simulinux-x64-nightly.zip
          tag: Nightly
          overwrite: true

  simulinux-posix-x64_nightly:
    name: simutrans posix
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: install_dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -ym install autoconf
          sudo apt-get -ym install libbz2-dev

      - name: setup
        run: |
          cd libs/zstd-1.4.4/lib
          make
          cd ../../../
          autoconf
          ./configure
          echo "CFLAGS += -std=c++11 " >>config.default
          echo "STATIC := 1" >>config.default
          echo "BACKEND = posix" >>config.default
          cat config.default >>/dev/stderr

      - name: make
        run: |
          make

      - name: distribute
        run: |
          sh ./distribute.sh

      - name: Rename result
        run:  mv ./simu*.zip ./simulinux_posix-x64-nightly.zip

      - name: Update binaries of Nightly Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: simulinux_posix-x64-nightly.zip
          asset_name: simulinux_posix-x64-nightly.zip
          tag: Nightly
          overwrite: true

  nettool-linux:
    name: Nettool
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: install_dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -ym install autoconf

      - name: setup
        run: |
          autoconf
          ./configure
          echo "CFLAGS += -std=c++11 " >>config.default
          echo "STATIC = 1" >>config.default
          cat config.default >>/dev/stderr

      - name: make
        run: |
          cd nettools
          make

      - name: Rename result
        run: |
          cd nettools
          zip -r -9 nettool_linux-x64-nightly.zip nettool

      - name: Update binaries of Nightly Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: nettools/nettool_linux-x64-nightly.zip
          asset_name: nettool_linux-x64-nightly.zip
          tag: Nightly
          overwrite: true
